<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="style.css">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <h2>SIGN IN TO YOUR ACCOUNT</h2> </div>
            <form method="post" class="form">
                <input id="user-email" class="form-content" type="email" name="email" placeholder="     Masukan Nip" autocomplete="on" required />
                <label for="user-email" style="padding-bottom:8px">&nbsp;
                </label>
                <div class="form-border"></div>
                <input id="user-password" class="form-content" type="password" name="password" placeholder="     Masukan password" required />
                <div class="form-border"></div>
                <a href="#">
                <input type="checkbox" id="c1" name="cc" />
                <label for="c1"><span></span>Keep me signed in</label>
                <input id="submit-btn" type="submit" name="submit" value="SIGN IN" />
                <a href="#" id="signup">Forgot your password?</a>
            </form>
        </div>
    </div>
</body>
</html>