a {
    text-decoration: none;
    padding-top: 15px;
  }
  body {
    background:white;
  }
  label {
    font-family: "Raleway", sans-serif;
    font-size: 8pt;
    color : #858B99;

  }
  #card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 450px;
    margin: 6rem auto 8.1rem auto;
    width: 435px;
  }
  #card-content {
    padding: 12px 44px;
    
  }
  #card-title {
    font-family: "Raleway Thin", sans-serif;
    text-align: center;
  }
  #signup {
    color: #818996;
    font-family: "Raleway", sans-serif;
    font-size: 8pt;
    margin-top: 35px;
    text-align: center;
  }
  #submit-btn {
    background: #008CBA;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    width: 347px;
    height: 50px;
    top: 30px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
  }
  .form-content {
    background: #E5E8ED;;
    border: none;
    border-radius: 6px;
    height: 50px;
    margin-top:20px;
    
  }
